h1, h2, h3, h4, h5 {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}

h1 {
  color: #F4CE14;
  margin-top: 0;
  margin-bottom: 1rem;
}

.main-top {
  background-color: #FBDABB;
  height: 20px;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

header, footer {
  padding: 1rem;
}

footer {
  background-color: #495E57;
  color: #fff;
  ul {
    padding-inline-start: 0;
    li {
      list-style-type: none;
      a {
        color: #fff;
        text-decoration: underline;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .column-left {
    text-align: left;
  }
  .column-right {
    text-align: right;
  }
}

h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.img-header-link {
  flex: .5;
}

.img-header-logo {
  max-width: 15rem;
  height: auto;
}

nav.top-menu {
  flex: 1;
  ul {
    text-align: right;
    > li {
      display: inline;
      padding: 0 1rem;
      a {
        color: #3b3b3b;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.25rem;
        &:hover, &:focus {
          text-decoration: underline;
        }
        .cart-icon {
          width: 30px;
          height: auto;
          vertical-align: bottom;
        }
      }
    }
  }
}

header .content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

main, footer {
  .content-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  > .column {
    vertical-align: top;
    margin: 1rem;
    flex: 1;
  }
}

.home-page-feature {
  background-color: #495E57;
  color: #fff;
  .home-page-feature-wrapper {
    display: flex;
    flex-direction: row;
    img {
      width: 75%;
      height: auto;
    }
    .flex-column-right {
      flex: 1;
      padding: 1rem;
    }
    .flex-column-left {
      flex: .75;
      padding: 1rem;
      text-align: center;
    }
  }
}

button.little-lemon-btn {
  background-color: #F4CE14;
  padding: .5rem .75rem;
  border-radius: 10px;
  border: 0;
  font-weight: 600;
  &:hover, &:focus {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(85%);
  }
}

